.metals*
.bloop*
.bsp*
.vscode*
.idea*
project/*
target/*
*.hex
*.mif
test_run_dir/
build/
netwkdev/data*
netwkdev/mnist*
netwkdev/smnist*
netwkdev/pretrained*
netwkdev/kwsonsnn/__pycache__*
domaintest*

mapping/meminit
mapping/networkData_fp.json
cocotb/testbench/sim_build
__pycache__
results.xml

a.out
*.vcd
*.ivl
*.vcs
csrc
*.daidir
ucli.key
*.vpd
*.fsdb
novas_dump.log
.nfs*
