.metals*
.bloop*
.bsp*
.vscode*
.idea*
project/*
target/*
*.hex
*.mif
test_run_dir/
build/
netwkdev/data*
netwkdev/mnist*
netwkdev/smnist*
netwkdev/pretrained*
netwkdev/kwsonsnn/__pycache__*
domaintest*
